<%# .erb embedded ruby recognizes html tags and ruby code %>
<%# on index page want to create clickable links to navigate to show page of individual blog posts -> link_to method in rails -> link_to(text, path) %>

<h1>Blog Posts</h1>

<%# This is like blogPosts.map() in React so return html div tags etc... %>
<% @blog_posts.each do |blog_post| %>
    <div>
        <%# This is like {post.title} in JSX %>
        <h2><%= link_to blog_post.title, blog_post_path(blog_post.id) %></h2>
        <%# also shortened to link_to blog_post.title, blog_post %>
        <p><%= blog_post.content %></p>
    </div>
<% end %>
