<h1>Create New Blog Post</h1>

<%# initial form was removed and placed on a partial file to be used across other views -> locals with partials -> passing variables to the partial in a way similar to React props. ->  partial receives blog_post (without @) as a local variable %>


<%= render partial: "form", locals: { blog_post: @blog_post } %>